.flexbox {
  display: flex;
  width: 100%;
  margin: 0 auto;
  color: white;
  background: #4618ac;
}

.image {
  background: url("../img/gamecommunity.jpg") center bottom no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.about-us {
  margin-top: -20px;
}

.content {
  padding: 2.5em 5em;
  width: 50%;
}

.dec {
  color: #b515d5;
}

h1 {
  font-size: 2em;
}

h2 {
  padding: 2.5em;
  text-align: center;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.our-services {
  background: #2e0a7d;
  height: 60vh;
  margin-top: -20px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex1,
.flex2,
.flex3 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

.icons {
  width: 15%;
}
