a.checkout {
  color: black;
}

.cart {
  background: #e010d4;
  border: none;
  max-width: 600px;
  min-width: 250px;
  padding: 20px;
  margin: auto;
  position: fixed;
  right: 0;
  top: 101px;
  display: none;
}
