h1,
p {
  text-align: left;
  padding-left: 0;
}

form {
  padding: 1px 25px 29px 25px;
}

.form_column {
  padding-top: 1em;
}

label {
  display: block;
  margin: 1em 0 0.5em;
}

/* single-line text, checkbox, and button */
input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.3em;
  font-size: 20px;
  background-color: #fbfbfb;
  border: solid 1px #ccc;
  resize: vertical;
  font-family: "Roboto Mono", monospace;
  border-radius: 0.25em;
}

textarea {
  min-height: 211px;
}

select {
  color: gray;
}

option {
  color: white;
  background: #404040;
  font-size: 16px;
}

input[type="checkbox"] {
  display: inline;
  width: auto;
  color: red;
}

input[type="submit"] {
  background: #bd10e0;
  padding: 8px 0 8px 0;
  margin: 2.24em 0 0;
  color: white;
  border: none;
  transition: all 0.3s ease-out;
}

input[type="submit"]:hover {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25em;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  background: #f5f5f5;
}

/* hover and focus states */
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #ff3ee5;
  outline: none;
}

.form_paragraph {
  padding-bottom: 1em;
}

.required {
  font-weight: bold;
  color: #bd10e0;
}

.form-error {
  display: none;
  color: #ff009f;
  margin-top: -25px;
  margin-bottom: 5px;
}

@media screen and (min-width: 1024px) {
  h1,
  p {
    padding-left: 15px;
  }

  /*  2 column form */
  form:after {
    content: "";
    display: block;
    clear: both;
  }

  .form_column,
  .form_message {
    width: 50%;
    padding: 1em;
    float: left;
  }
}
