@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #0e0c2d;
  color: #f5f5f5;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  max-width: 15em;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #0e0c2d;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: #e010c4;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #f5f5f5;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px, -1px);
  background: #0e0c2d;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

form.example input[type="text"] {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  float: left;
  width: 85%;
  background: #f5f5f5;
  font-family: "Roboto Mono", monospace;
}

form.example button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #bd10e0;
  color: white;
  font-size: 18px;
  border: none;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #e010d4;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example {
  margin: -20px 0;
  padding-bottom: 1.25em;
}

/* HEADER */

/* CONTENT */
.update {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.news {
  width: 100%;
  height: 56vh;
}

/* FEATURED */
.gameitem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 5px;
}

.gamefeature {
  width: 100%;
}

/* mobile styles */
@media only screen and (max-width: 768px) {
  a.active {
    text-decoration: underline;
    color: #bd10e0;
  }

  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 30px;
  }

  .menu {
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    width: 40%;
    right: -40%;
    top: 0;
    margin: 0;
    padding: 75px 50px 50px;
    background: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
  form.example input[type="text"] {
    padding: 10px 15px;
  }
  .update,
  .gameitem {
    grid-template-columns: 1fr;
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #f5f5f5;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}

.box {
  background: #0c0854;
  padding: 2.5em;
  /* border: 1px solid black; */
  /* width: 100%; */
  height: 37vh;
  margin-top: -23px;
  /* text-decoration: none; */
}

.buybtn {
  background: #bd10e0;
  border: none;
  border-radius: 1em;
  padding: 0.75em 2.25em;
  margin-right: 1.5em;
  float: right;
}

.price {
  margin: 0;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.wishbtn {
  float: rigth;
}

h3 {
  color: white;
  letter-spacing: 0.15em;
  font-size: 1.64em;
  text-transform: uppercase;
}

.productdesc {
  color: white;
  letter-spacing: 0.25em;
  font-weight: bold;
  margin-top: -1.25em;
}

.box {
  background: #0a064d;
  height: 15em;
  margin-top: -5px;
  padding: 0.25em 2em;
}

a {
  color: white;
}

.shoptag {
  color: white;
  margin-top: 1.5em;
}

.oldprice {
  color: #bd10e0;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  margin: 0;
  text-decoration: line-through;
}
