@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background: #07053f;
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #0e0c2d;
  color: #f5f5f5;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  max-width: 15em;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #0e0c2d;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: #e010c4;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #f5f5f5;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px, -1px);
  background: #0e0c2d;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

form.example input[type="text"] {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  float: left;
  width: 85%;
  background: #f5f5f5;
  font-family: "Roboto Mono";
  letter-spacing: 0.15em;
}

form.example button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #e010d4;
  color: white;
  font-size: 18px;
  border: none;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #ff009f;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example {
  margin: -20px 0;
  padding-bottom: 1.25em;
}

/* CONTENT */
.update {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  padding: 0;
}

.news {
  width: 100%;
  height: 475px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(11 6 86)),
    to(rgb(0 0 0 / 0%))
  );
}

.coming_games {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 0.75%;
  transition: 0.5s;
  color: white;
  padding: 6.5em 0 12em 0;
  text-align: center;
  width: 100%;
}

/* Media queries*/
@media only screen and (max-width: 768px) {
  a.active {
    text-decoration: underline;
    color: #bd10e0;
  }

  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 30px;
  }

  .menu {
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    width: 75%;
    right: -75%;
    top: 0;
    margin: 0;
    padding: 75px 25px 50px 0;
    background: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
  form.example input[type="text"] {
    padding: 10px 15px;
  }
  .update {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #f5f5f5;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}

h3 {
  color: white;
  letter-spacing: 0.15em;
  font-size: 1.56em;
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
}

.oldprice {
  color: #e010d4;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  margin: 0;
  text-decoration: line-through;
}

a.cta {
  text-decoration: none;
  background-image: linear-gradient(to right, #9733ee 5%, #da22ff 100%);
  padding: 1em 2.5em;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  transition: 0.5s;
}

a.cta:hover {
  background-image: linear-gradient(to right, #da22ff 5%, #9733ee 100%);
  letter-spacing: 0.4em;
  transition: 0.5s;
}

h2 {
  font-size: 2.5em;
  padding: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.saletag,
.productdesc {
  font-family: "Rubik", sans-serif;
}

h1 {
  color: white;
  font-family: "Rubik";
  font-size: 2.5em;
  letter-spacing: 0.25em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  padding-left: 0.4em;
}

#gameicon {
  padding-right: 1em;
}

ul.user-links {
  margin: 0;
}

li {
  text-transform: uppercase;
  font-family: "Rubik";
  font-weight: bold;
  letter-spacing: 0.15em;
  line-height: 2em;
  list-style-type: none;
}

footer.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  background: #0e0c2d;
  color: white;
  float: left;
  width: 25%;
  height: 425px;
  margin-bottom: 2.5em;
  padding: 1em 3em;
}

.copyright {
  background: white;
  text-align: center;
}

.breadcrumb-links {
  padding-left: 0;
}

h4 {
  font-size: 1.25em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.small-links {
  text-transform: none;
  line-height: 2.5em;
}

a.smll-lnks,
a.smll-lnks:hover {
  transition: 0.5s;
}

a.smll-lnks:hover {
  color: #e010d4;
}

p.copy {
  padding: 1em;
}

.subscribe {
  overflow: hidden;
}

input.email-sub {
  border: none;
  font-family: "Roboto Mono";
  letter-spacing: 0.1em;
  padding: 0.98em 1.5em;
  width: 50%;
}

input.sub-submit {
  background: #cf0564;
  border: 1px solid #cf0564;
  border-radius: 0 15px 15px 0;
  color: white;
  cursor: pointer;
  font-family: "Rubik";
  font-weight: bold;
  letter-spacing: 0.15em;
  margin-left: -10px;
  padding: 1.05em 1.5em;
  text-transform: uppercase;
}

.sub-dec {
  color: #e01084;
}

.sosial-media {
  cursor: pointer;
  font-size: 1.35em;
  letter-spacing: 0.2em;
  margin-top: 2.05em;
}

i.fab.fa-facebook-f:hover,
i.fab.fa-instagram:hover,
i.fab.fa-twitter:hover,
i.fab.fa-youtube:hover,
i.fab.fa-tiktok:hover,
i.fab.fa-discord:hover,
i.fab.fa-twitch:hover {
  color: #cf0564;
  transition: 0.3s;
}

i.fab.fa-facebook-f,
i.fab.fa-instagram,
i.fab.fa-twitter,
i.fab.fa-youtube,
i.fab.fa-tiktok,
i.fab.fa-discord,
i.fab.fa-twitch {
  transition: 0.2s;
}

.footer {
  background: #030217;
  color: white;
  margin-top: unset;
  padding-bottom: 2em;
  text-align: center;
}
